 .github_meta.log
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*/*/*/*.log
tools/SampleAnalyzer/Interfaces/Makefile_*
tools/SampleAnalyzer/Test/Makefile_*
*/*/*.aux
*/*/*.bbl
*/*/*.blg
*/*/*.toc
*/*/*.out
*/*/*.log
doc/??????_mode.log
doc/??????_mode.pdf
.DS_Store
ANALYSIS_*
